@import "@/assets/scss/helpers/variables";
@import "@/assets/scss/helpers/mixins";

.custom-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: $black, $alpha: 0.4);
  display: flex;
  flex-direction: column;
  z-index: 101;

  &__overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  &__inner {
    position: relative;
    height: 100%;
    max-width: 600px;
    width: 100%;
    background: $white;
    padding: 15px;

    @include sm {
      margin: auto;
      max-height: 100%;
      height: auto;
      max-width: 480px;
    }

  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}