.section-h1,
h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px / 36px * 100%;
  margin: 0 0 16px;
  width: 100%;
}

.section-h2,
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px / 28px * 100%;
  margin: 0 0 16px;
  width: 100%;
}

.section-h3,
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px / 20px * 100%;
  margin: 0 0 16px;
  width: 100%;
}