.vb-dragger {
  width: 6px;
  right: 2px;
  background-color: transparentize($white, 0.8);

  .vb-visible & {
    min-height: 1px;
  }

  .vb-invisible & {
    min-height: inherit;
  }

  .mobile-menu & {
    padding: 16px 0;
    margin: 0 2px 0 0;
  }

}

.vb-dragger-styler {
  .custom-select & {
    height: 100%;
    border-radius: 3px;
    background-color: $blue;
  }

  .mobile-menu & {
    height: 100%;
    border-radius: 3px;
    background-color: $blue;
  }

}