/* colors */
$black: #000;
$white: #fff;
$blue: #448aff;

/* checkbox colors */
$uncheckedBg: #d7d7d7;
$checkedBgRadio: #fff;
$checkedBgCheck: #448aff;
$borderColor:#448aff;
$disabledBg: #959595;

/* inputs */
$font-size: 14px;
$line-height: 18px;
$defaultPadding: 15px;
$paddingWithIcon: 15px 15px 15px 40px;
$invalid: red;
$inputHeight: 48px;
$iconDimensions: 20px;
$border: #448aff;

/* edit content */
$textPrimary: #1f1f1f;
$linkColor: #448aff;
$marker: #000;
$tableHead: #eef0fc;
$tableBorder: #B5B5B5;

/* others */
$breadCrumbDivider: " - ";
$tableBorder: #B5B5B5;
$mBack: #eee;
$mWidth: 300px;

/* media breakpoints */
$xs: 361px;
$sm: 601px;
$md: 961px;
$lg: 1153px;
$xl: 1441px;